<nav>
    <div class="logo">
        <a href=""><img src="/public/logo.png" alt="Logo"></a>
    </div>
    <div class="search">
        <input type="text" name="search" id="player-search">
        <button>Search</button>
    </div>
    <div class="info">
        <ul>
            <li><a href="/players">All players</a></li>
            <li><a href="/players/add">Add player</a></li>
            <li><a href="">Player Ranking</a></li>
            <!-- <li><a href=""></a></li> -->
        </ul>
    </div>
</nav>