<%- include ('partials/header') %>

<%- include ('partials/nav') %>

<section class="intro-page">
    <div class="intro-container">
        <div class="">
            <img src="/public/photos/Ronaldo.JPG" alt="">
            <h2>Cristiano Ronaldo</h2>
        </div>
        <article>
            5X Balon D'or winner, 4X European golden boot winner, 3X FIFA the best Men's player,
            3X Premier League winner, 2X Italian seria A winner, 2X La Liga champion, and many more...
        </article>
        <a href="">View Profile</a>
    </div>
</section>




<%- include ('partials/footer') %>